.stateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and(max-width:600px) {
  .stateRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 10px;
  }
  .confirm {
    color: red;
  }
  .recover {
    color: green;
  }
  .active {
    color: blue;
  }
  .deceased {
    color: #6c757d;
  }
  .population {
    color: #94a3b8;
  }
}
.confirm {
  color: red;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
.recover {
  color: green;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
.active {
  color: blue;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
.deceased {
  color: #6c757d;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
.population {
  color: #94a3b8;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
.state {
  text-decoration: none;

  color: #f1f5f9;
  width: 100px;
  height: 90px;
  font-size: 20px;
}
