.container {
  background: #161625;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sugList {
  list-style-type: none;
  background-color: #161625;
  width: 1440px;
  height: 914px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.but {
  background-color: transparent;
  color: white;
  border-style: none;
}
.input {
  background-color: transparent;
  border: none;
}

.icon {
  padding-top: 5px;
  height: 20px;
  width: 20px;
  padding-right: 2px;
}
.contentTable {
  width: 1146px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px;
  border-color: #475569;
  border-style: solid;
}
.stats-container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.covidCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.casesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.sta {
  display: flex;
  flex-direction: row;
  color: white;
}
.rowHeading {
  font-weight: 20px;
  color: white;
}
.horizontal {
  width: 1146px;
}

.horizontalCongtainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.cardconfirm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: red;
}
.cardactive {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: blue;
}
.cardRecovered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: green;
}
.cardDeceased {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #6c757d;
}
.hemMenu {
  display: none;
}
.img {
  width: 38px;
  height: 38px;
}

.inputContainer {
  background-color: #2f2f43;
  color: #94a3b8;
  height: cover;
  width: 750px;
  padding: 10px;
  border-radius: 10px;
  margin: 30px;
  padding-right: 40px;
}
.hemContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}
.rows {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .inputContainer {
    width: 300px;
    height: 48px;
  }
  .hori {
    width: 1000px;
    height: 2px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: #161625;
    color: white;
  }

  .stats-container {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .hemMenu {
    display: flex;
  }

  .rows {
    width: 100%;
    display: flex;

    flex-direction: column;
  }

  .sugList {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }
  .cardconfirm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: red;
    font-weight: lighter;
    font-size: 15px;
    width: 50%;
    padding-right: 100px;
  }
  .cardRecovered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: green;
    font-size: 15px;
    width: 50%;
    padding-right: 100px;
  }
  .cardDeceased {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #6c757d;
    font-size: 15px;
    width: 50%;
  }
  .cardactive {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: blue;
    background-color: blue transparent;
    background-image: inherit;

    font-size: 15px;
    width: 50%;
  }

  .rowHeading {
    font-size: 20px;
    padding-left: 10px;
  }
  .sta {
    padding-left: 50px;
  }
  .contentTable {
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 909px;
    height: 2079px;
    flex-shrink: 0;
  }

  .horizontalCongtainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 24px;
    height: 24px;
  }
  .con {
    padding: 10px;
    width: 100vh;
    background: #161625;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sorting-icon {
  color: white;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  padding-top: 13px;
}
